/*badges*/
.custom-badge {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 100px;
  height: 100px;
  .onsale-custom {
    border: 1px solid;
    padding: 0.202em 0.6180469716em;
    font-size: 0.875em;
    font-weight: 600;
    display: inline-block;
    margin: 0;
    transform: rotate(45deg);
    background: #4bb852;
    color: white;
    position: absolute;
    top: 11px;
    right: -26px;
    border-radius: 0;
    width: 100%;
    border-color: #547d1a;
    text-transform: none;
    @include phone {
      top: 8px;
      right: -28px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      z-index: -1;
      border-color: #547d1a transparent transparent #547d1a;
      border-style: solid;
      border-width: 5px;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 100%;
      z-index: -1;
      border-color: #547d1a #547d1a transparent transparent;
      border-style: solid;
      border-width: 5px;
    }
  }
  .soldout-custom {
    border: 1px solid;
    padding: 0.202em 0.6180469716em;
    font-size: 0.875em;
    font-weight: 600;
    display: inline-block;
    margin: 0;
    transform: rotate(45deg);
    background: $orange;
    color: white;
    position: absolute;
    top: 11px;
    right: -26px;
    border-radius: 0;
    width: 100%;
    border-color: #a23517;
    text-transform: none;
    @include phone {
      top: 8px;
      right: -28px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      z-index: -1;
      border-color: #a23517 transparent transparent #a23517;
      border-style: solid;
      border-width: 5px;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 100%;
      z-index: -1;
      border-color: #a23517 #a23517 transparent transparent;
      border-style: solid;
      border-width: 5px;
    }
  }
}
//
// .single-product {
// 	.custom-badge {
// 		position: static;
// 		.onsale {
// 			position: static;
// 			transform: none;
// 			width: auto;
// 		}
// 	}
// }
