@mixin button($lander: false, $theme: primary, $size: normal) {
  outline: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  height: unset;
  @if $theme == primary {
    background-color: $primaryColor;
  } @else {
    background-color: $secondaryColor;
  }
  font-size: 2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  line-height: 3.2rem;
  font-weight: 600;
  font-family: "Open Sans Condensed", sans-serif;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  @if $lander {
    font-size: 2.2rem;
    padding: 1.2rem 2.4rem;
    @if $theme == primary {
      box-shadow: 0 0.5rem 0.2rem -0.2rem darken($primaryColor, 5%);
    } @else {
      box-shadow: 0 0.5rem 0.2rem -0.2rem darken($secondaryColor, 5%);
    }
  }
  @include phone {
    @if $size == normal {
      font-size: 1.6rem;
      padding: 0.8rem 1.6rem;
      line-height: 2.8rem;
    } @else {
      font-size: 2rem;
      padding: 1rem 2rem;
      line-height: 3.2rem;
    }
  }
  &:hover {
    @if $theme == primary {
      background: darken($primaryColor, 5%);
    } @else {
      background: darken($secondaryColor, 5%);
    }
    color: $white;
  }
  &:active {
    box-shadow: none;
  }
  img {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 0.8rem 0 0 !important;
    @include phone {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}

.button.loading:hover {
  background: $primaryColor;
}
