.btn {
  &__holder {
    display: flex;
  }
  outline: none;
  // width: 100%;
  padding: 0 2.4rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #cf4b27;
  font-family: "Open Sans Condensed", sans-serif;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  &:hover {
    background: #d65227;
  }
  &:active {
    box-shadow: 0 0 0 0 #cf7d10;
  }
  &--secondary {
    height: unset;
    background-color: #fa9511;
    // border-bottom: 0.5rem solid #cf7d10;
    box-shadow: 0 0.5rem 0.2rem -0.2rem #cf7d10;
    font-size: 2.2rem;
    padding: 1.2rem 2.4rem;
    text-transform: uppercase;
    line-height: 3.2rem;
    font-weight: 600;
    @include phone {
      font-size: 1.6rem;
      padding: 0.6rem 1.6rem;
      line-height: 2.8rem;
    }
    &:hover {
      background: #ef8e10;
    }
    &:active {
      border: 0 solid;
    }
  }
}
