.footer {
  position: relative;
  background: $black;
  color: #aaaab0;
  @include phone {
    margin-top: 3rem;
  }
  &--before {
    @include tablet {
      display: none;
    }
  }
  &__top {
    padding: 3.5rem 0;
    border-bottom: 1px solid #787676;
  }
  &__menus {
    display: flex;
    justify-content: space-between;
    @include phone {
      flex-direction: column;
    }
    .menu {
      margin-right: 5rem;
      @include phone {
        margin-right: 0;
        // margin-bottom: 2rem;
        order: 2;
      }
      a {
        display: block;
        font-size: 1.4rem;
        line-height: 2.8rem;
        color: #aaaab0;
        &:hover {
          transform: scale(1.01);
          color: $white;
        }
      }
    }
  }
  .about {
    img {
      width: 2rem;
      margin-right: 1rem;
    }
    a {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      line-height: 2.8rem;
      color: #aaaab0;
      &:hover {
        color: white;
      }
    }
  }
  &__title {
    font-family: 'Rubik', serif;
    font-size: 2rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 0.5rem;
    font-weight: $headingsWeight;
  }
  &__text {
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: #aaaab0;
  }
  &__bottom {
    p {
      text-align: center;
      padding: 2.5rem 0;
      font-size: 1.2rem;
      line-height: 2.8rem;
      color: #afacac;
    }
  }
}
