.footer {
  position: relative;
  background: #000;
  color: #AAAAB0;
  @include phone {
    margin-top: 3rem;
  }
  &:before {
    content:url('./assets/img/bg-footer.svg');
    display: block;
    line-height: 0;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
  }
  &__top {
    padding: 3.5rem 0;
    border-bottom: 1px solid #787676;
  }
  &__menus {
    display: flex;
    @include phone {
      flex-direction: column;
    }
    .menu {
      margin-right: 5rem;
      @include phone {
        margin-right: 0;
        margin-bottom: 2rem;
        order: 2;
      }
      a {
        display: block;
        font-size: 1.4rem;
        line-height: 2.8rem;
        color: #AAAAB0;
        &:hover {
          transform: scale(1.01);
          color: #fff;
        }
      }
    }
    .about {
      max-width: 35rem;
      margin-left: auto;
      @include phone {
        order: 1;
        margin-left: 0;
        margin-bottom: 2rem;
      }
    }
  }
  &__title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.4rem;
    line-height: 3.3rem;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0.5rem;
  }
  &__text {
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: #AAAAB0;
  }
  &__bottom {
    p {
      text-align: center;
      padding: 2.5rem 0;
      font-size: 1.2rem;
      line-height: 2.8rem;
      color: #AFACAC;
    }
  }
}