.header {
  margin-bottom: 2.5rem;
  @include phone {
    margin-bottom: 1rem;
  }
  .top {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 0;
    img {
      min-height: 10rem;
    }
    &--desktop {
      display: block;
      @include phone {
        display: none;
      }
    }
    &--mobile {
      display: none;
      @include phone {
        display: block;
        position: relative;
        .logo-link {
          position: absolute;
          z-index: 2;
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          background: transparent;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      @include phone {
        width: 65%;
      }
      @media (max-width: 500px) {
        width: 80%;
      }
      &--mobile {
        img {
          min-height: auto;
        }
      }
      svg {
        width: 100%;
      }
    }
    &__left {
      margin-right: 3rem;
      @include phone {
        margin-right: 1rem;
      }
    }
    &__center {
      display: block;
      cursor: pointer;
      svg {
        max-width: 21rem;
      }
    }
    &__right {
      margin-left: 3rem;
      @include phone {
        margin-left: 1rem;
      }
    }
  }
  .nav {
    font-family: "Open Sans Condensed", sans-serif;
    position: relative;
    //top: -15px;
    background: #000;
    &--before {
      display: block;
      line-height: 0;
      position: absolute;
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
      min-width: 100%;
      @include phone {
        display: none;
      }
      img {
        min-width: 100%;
      }
    }
    &--after {
      display: block;
      line-height: 0;
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
      min-width: 100%;
      @include phone {
        display: none;
      }
      img {
        min-width: 100%;
      }
    }
    @include phone {
      background-image: none !important;
      background: #000;
      position: static;
      top: 0;
    }
    .menu-toggle {
      display: none;
    }
    &__cart {
      position: absolute;
      top: -6px;
      right: 1.5rem;
      z-index: 999;
      background-image: url("./assets/img/bg-nav-cart.svg");
      background-repeat: no-repeat;
      background-position: center;
      &:hover {
        transform: scale(1.01);
      }
      @include phone {
        background-image: none !important;
        background: #cf4b27;
        top: 0;
      }
      &-link {
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        line-height: 3.3rem;
        color: #fff !important;
        padding: 1.4rem 3.5rem;
        box-sizing: border-box;
        transition: 0.2s;
        text-transform: uppercase;
        @include phone {
          padding: 1.35rem;
        }
        .img-wrap {
          position: relative;
          margin-right: 1rem;
        }
        .count {
          position: absolute;
          top: -10.7px;
          left: 14px;
          width: 2rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
          color: #b64526;
          border-radius: 50%;
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
        .krepselis {
          @include phone {
            display: none;
          }
        }
      }
      //cart in nav
      .added_to_cart.alt,
      .added_to_cart,
      .widget a.button.checkout {
        background: #cf4b27;
      }
      .cart-contents {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
      }
      .site-header-cart .cart-contents::after {
        margin-left: 1rem;
      }
      .widget_shopping_cart .product_list_widget li {
        padding: 1rem;
        background: #fff;
        &:hover {
          background: #f5a91d;
          color: #000 !important;
          span,
          a {
            color: #fff !important;
          }
          a:before {
            color: #fff;
          }
        }
      }
      .site-header-cart:hover .widget_shopping_cart {
        box-shadow: 0 1px 8px #9e9999;
      }
    }
    &__ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      padding-right: 20rem;
      @include phone {
        display: none;
      }
      &--mob {
        display: none;
        @include phone {
          display: block;
          border-top: 1px solid #2c2c2c;
          padding: 1.5rem 0;
        }
      }
    }
    &__li {
      @include phone {
        text-align: left;
      }
      a {
        position: relative;
        z-index: 2;
        display: block;
        font-size: 2.4rem;
        line-height: 3.3rem;
        color: #fff;
        padding: 0.8rem 3.5rem;
        box-sizing: border-box;
        transition: 0.2s;
        @media screen and (max-width: 1064px) and (min-width: 768px) {
          padding: 0.8rem 1.5rem;
        }
        @include phone {
          padding-bottom: 1.5rem;
          padding-left: 1.5rem;
          padding-top: 0;
        }
        &:hover {
          background: #282828;
          color: white;
        }
      }
    }
  }
}

.menu-btn-holder {
  display: none;
  @include phone {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
  }
}
/*burger animation*/
.nav-icon {
  display: none;
  margin-right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  @media (max-width: 768px) {
    display: block;
  }
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  margin: 5px 0;
  transition: all 0.1s ease-in-out;
}
.open {
  position: relative;
  top: 3px;
}
.open:before {
  margin: 3px 0;
  transform: translateY(5px) rotate(135deg);
}
.open:after {
  margin: 3px 0;
  transform: translateY(-5px) rotate(-135deg);
}
.open div {
  margin: 3px 0;
  transform: scale(0);
}

/*mobile nav transition*/
.nav-enter-active {
  transition: all 0.3s ease;
}
.nav-leave-active {
  transition: all 0.3s ease;
}
.nav-enter, .nav-leave-to
  /* .nav-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

//custom mobile shop cats icons

.mob-nav-mate a {
  display: flex !important;
  align-items: center;
  &:before {
    display: block;
    content: " ";
    background-image: url("./assets/img/icons/daigelis-white.svg");
    background-size: 2.2rem 2.2rem;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1rem;
  }
}
.mob-nav-kalabasas a {
  display: flex !important;
  align-items: center;
  &:before {
    display: block;
    content: " ";
    background-image: url("./assets/img/icons/kalabasas-white.svg");
    background-size: 2.2rem 2.2rem;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1rem;
  }
}
.mob-nav-bombiles a {
  display: flex !important;
  align-items: center;
  &:before {
    display: block;
    content: " ";
    background-image: url("./assets/img/icons/bombiles-white.svg");
    background-size: 2.2rem 2.2rem;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1rem;
  }
}
.mob-nav-rinkiniai a {
  display: flex !important;
  align-items: center;
  &:before {
    display: block;
    content: " ";
    background-image: url("./assets/img/icons/gift-white.svg");
    background-size: 2.2rem 2.2rem;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1rem;
  }
}
.mob-nav-guayusa a {
  display: flex !important;
  align-items: center;
  &:before {
    display: block;
    content: " ";
    background-image: url("./assets/img/icons/ajavaska-white.svg");
    background-size: 2.2rem 2.2rem;
    height: 2.2rem;
    width: 2.2rem;
    margin-right: 1rem;
  }
}


//for winter not compiled yet
@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  pointer-events: none;
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s;
}