//post in archive
.postas {
  article {
    margin-bottom: 2rem;
  }
  &-wrap {
    display: block;
  }
  &__title {
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 2.8rem;
    color: #466323;
    text-transform: uppercase;
    margin-bottom: 1rem;
    @include phone{
      font-size: 2rem;
    }
  }
  &__block {
    display: flex;
    @include phone{
      display: block;
    }
  }
  &__img {
    display: block;
    max-width: 24rem;
    width: 100%;
    margin-right: 2rem;
    @include phone{
      max-width: 55rem;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__content {
width: 100%;
  }
  &__exerpt {
    display: block;
    color: #333;
    line-height: 1.5;
    margin-bottom: 1rem;
    p {
      margin: 0;
    }
  }
  &__meta {
    font-size: 1.4rem;
    color: #000;
    margin-bottom: 1rem;
    ul {
      display: inline-block;
      list-style: none;
      margin: 0;
    }
  }
  &__btn {
    max-width: 18rem;
    .btn {
      height: 4rem;
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 3.3rem;
      color: #fff;
    }
  }
}




//post page
//post feature img
.hentry .wp-post-image {
  max-width: 50rem;
}
.post {
  &__title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 4.2rem;
    line-height: 5.7rem;
    text-align: center;
    color: #272727;
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 2rem;
  }
}
//video post
article.videos {
  img {
    display: none;
  }
  p {
    text-align: center;
  }
}
.postas {
  article.videos {
    img {
      display: block!important;
    }
  }
}
