//woo products archive
ul.custom {
  li.product {
    border: 1px solid #EBEAEA;
    border-radius: 0.2rem;
    transition: all 0.2s;
    @include phone {
      max-width: 30rem;
      margin: 0 auto;
      margin-bottom: 3rem;
    }
    &:hover {
   	 transform: scale(0.95);
    }
    img {
      margin-bottom: 0;
      padding: 1rem;
    }
    .price {
      font-size: 1.6rem;
      line-height: 2.2rem;
      color: #69a90f;
      margin: 1rem 0 1.5rem!important;
      @include phone {
        margin: 1rem!important;
      }
    }
  }
  h2 {
    font-size: 1.6rem!important;
    line-height: 2.2rem;
    text-transform: uppercase;
    padding: 0 0.5rem!important;
    margin-bottom: 0!important;
    font-family: 'Open Sans', sans-serif;
  }
  .btn-wrap {
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    border-top: 1px solid #F2F2F2;
    @include phone {
      padding: 1rem;
    }
  }
  a.button {
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fa9511;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.3rem;
    padding: 0;
    margin: 0 auto;
    img {
      width: 2.6rem;
      margin: 0;
      margin-right: 1rem;
      padding: 0;
	  @media screen and (max-width: 1025px) and (min-width: 768px){
	    display: none;
	  }
    }
  }
}

//pagination
.woocommerce-pagination .page-numbers li .page-numbers:not(.current) {
  background-color: #fa9e39;
  color: #fff;
  &:hover {
    background-color: #CF4B27;
    color: #fff;
  }
}
.woocommerce-pagination .page-numbers li .page-numbers.current {
  background-color: #CF4B27;
  color: #fff;
}
.woocommerce-products-header {
  padding-bottom: 2rem!important;
}

//breadcrubs
.storefront-breadcrumb {
  margin-bottom: 0;
  padding: 1rem 0;
}

//taxonomies
.single-product div.product .product_meta {
  span {
    margin-bottom: 1rem;
  }
}
.woocommerce-product-details__short-description {
  p {
    line-height: 2.9rem;
  }
}

//todo CIA PAKEIST
ul.products li.product h2, ul.products li.product h3, ul.products li.product .woocommerce-loop-product__title, ul.products li.product .wc-block-grid__product-title, ul.products .wc-block-grid__product h2, ul.products .wc-block-grid__product h3, ul.products .wc-block-grid__product .woocommerce-loop-product__title, ul.products .wc-block-grid__product .wc-block-grid__product-title, .wc-block-grid__products li.product h2, .wc-block-grid__products li.product h3, .wc-block-grid__products li.product .woocommerce-loop-product__title, .wc-block-grid__products li.product .wc-block-grid__product-title, .wc-block-grid__products .wc-block-grid__product h2, .wc-block-grid__products .wc-block-grid__product h3, .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-product__title, .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title {
  font-size: 2rem;
}

.onsale {
  color: #fe191a;
  border-color: #fe191a;
  margin: 0;
  margin-top: 1rem;
}


//single product page
.product {
  .onsale {
    color: #d65227;
    border-color: #d65227;
  }
  //title
  .product_title .entry-title {

  }
  //price
  .price {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #69a90f;
    margin: 1.5rem 0!important;
    del {
      color: #CF4B27;
    }
  }
  //description
  .woocommerce-product-details__short-description {
    margin-bottom: 1.5rem;
  }
  //custom meta
  .customMeta {
    padding-top: 0!important;
    border-top: none!important;
    .posted_in, .tagged_as {
      font-size: 1.6rem;
      line-height: 2.2rem;
      color: #A4A4A4;
      a {
        font-weight: 400;
        text-decoration: none!important;
        display: inline-block!important;
        &:hover {
          transform: scale(1.01);
        }
      }
    }
  }
  //stock
  .stock.in-stock, .stock.out-of-stock {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    color: #CF4B27;
    img {
      margin-right: 0.5rem;
      max-width: 2.5rem;
    }
    &:before {
      display: none;
    }
  }
  .stock.in-stock {
	  color: #0f834d;
  }
  //shipping
  .shippin {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    img {
      margin-right: 0.5rem;
      max-width: 2.5rem;
    }
    .green {
      color: #69a90f;
    }
  }
  //quantiti
  .quantity {
    .qty {
      border: 1px solid #E5E5DF;
      background: #fff;
      box-shadow: none;
    }
  }
}

button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .widget-area .widget a.button.alt {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #CF4B27;
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.3rem;
  padding: 0;
  height: 4.7rem;
  max-width: 18rem;
  width: 100%;
  transition: 0.2s;
  &:hover {
    background: #e97d3c;
  }
  img {
    width: 2.6rem;
    margin: 0;
    margin-right: 1rem;
  }
}
//description
.woocommerce-tabs ul.tabs {
  display: none;
}
.storefront-full-width-content .woocommerce-tabs .panel {
  width: 100%;
}
.woocommerce-tabs .panel h2:first-of-type {
  padding: 0;
}
.woocommerce-tabs {
  padding-top: 0;
}


//variants
.variations {
  tr {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: #fff;
    box-shadow: none;
    .label {
      margin-right: 2rem;
    }
    .value {
      margin-bottom: 0!important;
      select {
        background: #fa95111f;
      }
    }
  }
}
//remove prekes kodas in variants
.sku_wrapper {
  display: none!important;
}
