//woo products archive
ul.custom {
  li.product {
    border: 1px solid #ebeaea;
    border-radius: 0.2rem;
    transition: all 0.2s;
    @include phone {
      max-width: 30rem;
      margin: 0 auto;
      margin-bottom: 3rem;
    }
    &:hover {
      transform: scale(0.95);
    }
    img {
      margin-bottom: 0;
      padding: 1rem;
    }
    .price {
      font-size: 1.6rem;
      line-height: 2.2rem;
      color: #4bb852;
      margin: 1rem 0 1.5rem !important;
      @include phone {
        margin: 1rem !important;
      }
    }
  }
  h2 {
    font-size: 1.6rem !important;
    line-height: 2.2rem;
    text-transform: uppercase;
    padding: 0 0.5rem !important;
    margin-bottom: 0 !important;
    font-family: "Rubik", serif;
  }
  .btn-wrap {
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    border-top: 1px solid #f2f2f2;
    @include phone {
      padding: 1rem;
    }
  }
  a.button {
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primaryColor;
    color: $white;
    font-family: "Rubik", serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.3rem;
    padding: 0;
    margin: 0 auto;
    img {
      width: 2.6rem;
      margin: 0;
      margin-right: 1rem;
      padding: 0;
      @media screen and (max-width: 1025px) and (min-width: 768px) {
        display: none;
      }
    }
  }
}

//pagination
.woocommerce-pagination .page-numbers li .page-numbers:not(.current) {
  background-color: #fa9e39;
  color: $white;
  &:hover {
    background-color: $secondaryColor;
    color: $white;
  }
}
.woocommerce-pagination .page-numbers li .page-numbers.current {
  background-color: $secondaryColor;
  color: $white;
}
.woocommerce-products-header {
  padding-bottom: 2rem !important;
}

//breadcrubs
.storefront-breadcrumb {
  margin-bottom: 0;
  padding: 1rem 0;
}

//taxonomies
.single-product div.product .product_meta {
  span {
    margin-bottom: 1rem;
  }
}
.woocommerce-product-details__short-description {
  p {
    line-height: 2.9rem;
  }
}

//todo CIA PAKEIST
ul.products li.product h2,
ul.products li.product h3,
ul.products li.product .woocommerce-loop-product__title,
ul.products li.product .wc-block-grid__product-title,
ul.products .wc-block-grid__product h2,
ul.products .wc-block-grid__product h3,
ul.products .wc-block-grid__product .woocommerce-loop-product__title,
ul.products .wc-block-grid__product .wc-block-grid__product-title,
.wc-block-grid__products li.product h2,
.wc-block-grid__products li.product h3,
.wc-block-grid__products li.product .woocommerce-loop-product__title,
.wc-block-grid__products li.product .wc-block-grid__product-title,
.wc-block-grid__products .wc-block-grid__product h2,
.wc-block-grid__products .wc-block-grid__product h3,
.wc-block-grid__products
  .wc-block-grid__product
  .woocommerce-loop-product__title,
.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title {
  font-size: 2rem;
}

.onsale {
  color: #fe191a;
  border-color: #fe191a;
  margin: 0;
  margin-top: 1rem;
}

//single product page
.product .summary {
  .onsale {
    color: #d65227;
    border-color: #d65227;
  }
  //title
  .product_title .entry-title {
  }
  //price
  .price {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #4bb852;
    margin: 1.5rem 0 !important;
    del {
      color: $secondaryColor;
    }
  }
  //description
  .woocommerce-product-details__short-description {
    margin-bottom: 1.5rem;
    a {
      text-decoration: underline;
      &:hover {
        color: #4bb852;
      }
    }
  }
  //custom meta
  .customMeta {
    padding-top: 0 !important;
    border-top: none !important;
    .posted_in,
    .tagged_as {
      font-size: 1.6rem;
      line-height: 2.2rem;
      font-weight: 600;
      color: #373543;
      a {
        font-weight: 400;
        display: inline-block !important;
        &:hover {
          color: #4bb852;
          text-decoration: underline;
        }
      }
    }
  }
  //stock
  .stock.in-stock,
  .stock.out-of-stock {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    color: $secondaryColor;
    img {
      margin-right: 0.5rem;
      max-width: 2.5rem;
    }
    &:before {
      display: none;
    }
  }
  .stock.in-stock {
    color: #4bb852;
  }
  //shipping
  .shippin {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    img {
      margin-right: 0.5rem;
      max-width: 2.5rem;
    }
    .green {
      color: #4bb852;
    }
  }
  //quantiti
  .quantity {
    .qty {
      border: 1px solid #e5e5df;
      background: $white;
      box-shadow: none;
    }
  }
}

button.alt,
input[type="button"].alt,
input[type="reset"].alt,
input[type="submit"].alt,
.button.alt,
.widget-area .widget a.button.alt {
  @include button;
}
// description an comment tabs
// .woocommerce-tabs ul.tabs {
//   display: none;
// }
// .storefront-full-width-content .woocommerce-tabs .panel {
//   width: 100%;
// }
// .woocommerce-tabs .panel h2:first-of-type {
//   padding: 0;
// }
// .woocommerce-tabs {
//   padding-top: 0;
// }

@media (min-width: 768px) {
  .storefront-full-width-content .woocommerce-tabs ul.tabs {
    width: 19%;
  }
  .storefront-full-width-content .woocommerce-tabs .panel {
    width: 75%;
  }
}
.single-product div.product .woocommerce-product-rating {
  margin-bottom: 0;
  margin-top: 10px;
}

//variants
.variations {
  tr {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: $white;
    box-shadow: none;
    .label {
      margin-right: 2rem;
    }
    .value {
      margin-bottom: 0 !important;
      select {
        background: $primaryColor;
      }
    }
  }
}
//remove prekes kodas in variants
.sku_wrapper {
  display: none !important;
}

ul.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include phone {
    grid-template-columns: minmax(29rem, 36rem);
    justify-content: center;
  }
  &:before {
    content: none;
  }
  li.product {
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0.2rem !important;
    display: flex !important;
    flex-direction: column !important;
    float: none !important;
    &:hover {
      & > a img {
        transform: scale(1.05);
      }
    }
    & > a {
      border: 0.1rem solid #f2f2f2;
      padding: 2.4rem 1rem 1.6rem;
      display: block;
      height: 100%;
      img {
        transition: 0.2s;
        max-width: 14rem;
        margin-bottom: 1.6rem;
      }
      h2 {
        font-size: 1.6rem !important;
        margin-bottom: 0.8rem !important;
        font-family: "Rubik", serif;
        text-transform: uppercase;
        padding: 0;
      }
      .price {
        color: #4bb852;
        font-size: 2rem;
        margin-bottom: 0;
        del {
          color: $secondaryColor;
        }
      }
      .star-rating span:before,
      .quantity .plus,
      .quantity .minus,
      p.stars a:hover:after,
      p.stars a:after,
      .star-rating span:before,
      #payment
        .payment_methods
        li
        input[type="radio"]:first-child:checked
        + label:before {
        color: $primaryColor;
      }
    }
    .btn-wrap {
      padding: 1.6rem;
      border: 0.1rem solid #f2f2f2;
      border-top: none;
      .button {
        @include button;
      }
    }
  }
}
