.quiz {
  max-width: 80rem;
  margin: 0 auto;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  &__block {
    height: 37rem;
    position: relative;
    text-align: center;
    padding: 3rem;
    background-image: url("./assets/img/bg-quiz.jpg");
    @include phone {
      padding: 2rem 1rem 0;
      height: 67rem;
      background-image: url("./assets/img/bg-quiz-mob.jpg");
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.7;
    }
  }
  &__content {
    position: relative;
    z-index: 2;
  }
  &__question {
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    @include phone {
      padding-bottom: 2rem;
      font-size: 2rem;
    }
  }
  &__answers {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    @include phone {
      flex-direction: column;
    }
  }
  &__answer {
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 1rem;
    background: #fff;
    color: #000;
    transition: all 0.2s ease;
    &:hover {
      box-shadow: inset 0 0 0 1rem #2656cf96;
    }
    &--no-hover {
      &:hover {
        box-shadow: none;
      }
    }
    @include phone {
      margin-bottom: 2rem;
    }
    &--offer {
      display: block;
      height: 100%;
      .img {
        max-width: 10rem;
        margin: 0 auto;
      }
    }
    &--loading {
      padding: 0;
      height: 13rem;
    }
    .title {
      line-height: 1.2;
    }
    &-wrap {
      flex: 1;
      padding: 0 1rem;
      &--last {
        max-width: 15rem;
        @include phone {
          max-width: 22rem;
          margin-top: 5rem;
        }
        margin: 0 auto;
        .quiz__answer:hover {
          background: #fff;
          cursor: auto;
        }
        img {
          max-width: 15rem;
          @include phone {
            max-width: 22rem;
          }
          width: 100%;
        }
      }
    }
  }
  &__loader {
    .loading-bar {
      background: #f7e5d0;
      position: relative;
      z-index: 2;
      opacity: 0.7;
      height: 5rem;
      width: 100%;
      overflow: hidden;
      border: 1px solid #000;
      .text {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
        text-shadow: 0 1px 0 #ccc,
        0 1px 0 #c9c9c9,
        0 1.5px 0 #bbb,
        0 2px 0 #b9b9b9,
        0 2.5px 0 #aaa,
        0 3px 0.5px rgba(0,0,0,.1)
      }
      .percentage {
        position: absolute;
        top: 0; left: 0;
        display: block;
        height: 100%;
        background-color: #ffaf0e;
        background-size: 30px 30px;
        //background-image: linear-gradient(135deg, rgba($color: #fff, $alpha: .15) 25%, transparent 25%,
        //        transparent 50%, rgba($color: #fff, $alpha: .15) 50%,
        //        rgba($color: #fff, $alpha: .15) 75%, transparent 75%,
        //        transparent);
        //animation: animate-stripes 3s linear infinite;
      }
    }

    @keyframes animate-stripes {
      0% { background-position: 0 0; }
      100% { background-position: 60px 0; }
    }


  }
}


.animation-enter-active, .animation-leave-active {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease;
}
.animation-enter-active {
  transition-delay: 0.3s;
}
.animation-enter, .animation-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}
.animation-enter-to, .animation-leave {
  opacity: 1;
  transform: translateX(0px);
}


