.sidebar {
  padding-right: 2.5rem;
  margin-top: 1rem;
  &__text {
    line-height: 2.2rem;
    color: #272727;
    font-family: "Rubik", serif;
    margin-bottom: 1rem;
  }
  &__btn {
    @include button($size: large, $theme: primary);
    margin: 0;
    margin-bottom: 3rem;
  }
  &__block {
    margin-bottom: 3rem;
    &-title {
      font-family: "Rubik", serif;
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 2.6rem;
      line-height: 3.5rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      transition-duration: 0.1s;

      img {
        margin-right: 0.5rem;
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    .active-item,
    :hover {
      color: #4bb852;
      img {
        filter: invert(58%) sepia(28%) saturate(619%) hue-rotate(63deg);
      }
    }

    li {
      a {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.2rem;
        color: #6d6d6d;
      }
      a.active-item,
      a:hover {
        color: #4bb852;
      }
    }
  }
}
