.sidebar {
  padding-right: 2.5rem;
  &__text {
    line-height: 2.2rem;
    color: #272727;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 1rem;
  }
  &__btn {
    max-width: 25rem;
    margin-bottom: 4rem;
    color: #fff;
  }
  &__block {
    margin-bottom: 3rem;
    &-title {
      font-family: 'Open Sans Condensed', sans-serif;
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 2.6rem;
      line-height: 3.5rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      &:hover {
        transform: scale(1.01);
      }
      img {
        margin-right: 0.5rem;
        width: auto;
      }
    }
    li:hover {
      transform: scale(1.01);
      color: #000;
    }
    li a {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.2rem;
      color: #6d6d6d;
    }
  }
}