html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:focus,
button:focus {
  outline: none;
}

select,
textarea,
input {
  outline: none;
}
select:focus,
textarea:focus,
input:focus {
  outline: none;
}

textarea {
  max-height: 8rem;
}

a {
  color: #2c2d33;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #222;
  margin: 0;
}

h2 {
  padding: 3rem 0;
}
@media (max-width: 768px) {
  h2 {
    padding: 2.5rem 0;
  }
}
h2 img {
  width: 2rem;
  height: auto;
}

h3 {
  margin: 3rem auto 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
}
.container--full {
  padding-right: 0;
  padding-left: 0;
  max-width: 100%;
}
@media (max-width: 768px) {
  .container--no-padding {
    padding: 0;
  }
}
.container--nav {
  position: relative;
}
@media (max-width: 768px) {
  .container--nav {
    position: relative;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main {
  display: flex;
  margin-top: 1.5rem;
}
@media (max-width: 768px) {
  .main {
    display: block;
  }
}
.main__sidebar {
  max-width: 28rem;
  width: 100%;
  margin-right: 2.5rem;
  border-right: 1px solid #f2f2f2;
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .main__sidebar {
    min-width: 22rem;
    width: auto;
  }
}
@media (max-width: 768px) {
  .main__sidebar {
    display: none;
  }
}
.main__content {
  width: 100%;
}

.row {
  display: flex;
}
@media (max-width: 768px) {
  .row {
    display: block;
  }
}
.row__col {
  width: 50%;
}
.row__col:first-of-type {
  margin-right: 1.5rem;
}
@media (max-width: 768px) {
  .row__col:first-of-type {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .row__col {
    width: 100%;
  }
}

.storefront-breadcrumb .col-full {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 128rem;
}

.woocommerce-breadcrumb {
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .woocommerce-breadcrumb {
    margin-bottom: 1rem;
  }
}

.woocommerce-checkout-review-order select {
  width: 100%;
  border: 1px solid #404e2e;
}

.entry-header {
  display: none;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
  background-color: #78a643;
}

.site-main {
  padding: 0 !important;
  margin: 0 !important;
}

.storefront-full-width-content.woocommerce-cart .entry-header,
.storefront-full-width-content.woocommerce-checkout .entry-header,
.storefront-full-width-content.woocommerce-account .entry-header,
.storefront-full-width-content .woocommerce-products-header {
  text-align: left;
}

.animation-enter-active,
.animation-leave-active {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease;
}

.animation-enter-active {
  transition-delay: 0.3s;
}

.animation-enter,
.animation-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}

.animation-enter-to,
.animation-leave {
  opacity: 1;
  transform: translateX(0px);
}

.btn {
  outline: none;
  padding: 0 2.4rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #cf4b27;
  font-family: "Open Sans Condensed", sans-serif;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.btn__holder {
  display: flex;
}
.btn:hover {
  background: #d65227;
}
.btn:active {
  box-shadow: 0 0 0 0 #cf7d10;
}
.btn--secondary {
  height: unset;
  background-color: #fa9511;
  box-shadow: 0 0.5rem 0.2rem -0.2rem #cf7d10;
  font-size: 2.2rem;
  padding: 1.2rem 2.4rem;
  text-transform: uppercase;
  line-height: 3.2rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  .btn--secondary {
    font-size: 1.6rem;
    padding: 0.6rem 1.6rem;
    line-height: 2.8rem;
  }
}
.btn--secondary:hover {
  background: #ef8e10;
}
.btn--secondary:active {
  border: 0 solid;
}

header.header {
  position: relative;
  margin-bottom: 4rem;
  background: #000;
}
header.header .container {
  background: #000;
  position: relative;
}
header.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.header .wrapper .logo {
  max-width: 20rem;
  width: 100%;
}
@media (max-width: 900px) {
  header.header .wrapper .logo {
    max-width: 14.4rem;
  }
}
@media (max-width: 900px) {
  header.header .wrapper nav.desktop {
    display: none;
  }
}
header.header .wrapper nav.desktop > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header.header .wrapper nav.desktop > ul > li > a {
  position: relative;
  display: block;
  color: #fff;
  padding: 1.8rem 3.2rem;
  font-size: 1.8rem;
}
@media (max-width: 1200px) {
  header.header .wrapper nav.desktop > ul > li > a {
    padding: 1.8rem;
  }
}
header.header .wrapper nav.desktop > ul > li > a:before {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 3.2rem;
  height: 0.3rem;
  width: 0;
  transition: 0.2s;
  background-color: #b64526;
}
header.header .wrapper nav.desktop > ul > li > a:hover:before {
  width: 50%;
}
header.header .wrapper nav.desktop .dropdown {
  position: absolute;
  top: 6.3rem;
  left: 50%;
  transform: translateX(-50%);
  min-height: 43.2rem;
  max-width: 1024px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: 200ms;
  opacity: 0;
  pointer-events: none;
  padding-top: 0.5rem;
  display: flex;
}
header.header .wrapper nav.desktop .dropdown .inner-wrapper {
  width: 100%;
  background: #353535;
  color: white;
  border: 0.2rem solid #fba22f;
}
header.header .wrapper nav.desktop li.blog .blog-dropdown .inner-wrapper {
  display: flex;
}
header.header .wrapper nav.desktop li.blog .blog-dropdown .inner-wrapper .content {
  flex-shrink: 0;
  padding: 3.2rem 6.4rem;
}
header.header .wrapper nav.desktop li.blog .blog-dropdown .inner-wrapper .title {
  color: #fff;
  margin-bottom: 3.2rem;
  font-size: 2.2rem;
  font-weight: 600;
}
header.header .wrapper nav.desktop li.blog .blog-dropdown .inner-wrapper ul li {
  max-width: 13.4rem;
}
header.header .wrapper nav.desktop li.blog .blog-dropdown .inner-wrapper ul a {
  display: block;
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  transition: 0.2s;
}
header.header .wrapper nav.desktop li.blog .blog-dropdown .inner-wrapper ul a:hover {
  transform: translateX(0.2rem);
}
header.header .wrapper nav.desktop li.blog:hover .blog-dropdown {
  opacity: 1;
  pointer-events: auto;
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper {
  padding: 3.2rem 6.4rem;
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper .title {
  color: #fff;
  margin-bottom: 3.2rem;
  font-size: 2.2rem;
  font-weight: 600;
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper ul.level-0 > li > a {
  position: relative;
  color: #eb9365;
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper ul.level-0 > li > a:before {
  position: absolute;
  content: "";
  left: -28px;
  top: 4px;
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(59%) sepia(89%) saturate(306%) hue-rotate(332deg) brightness(95%) contrast(93%);
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper ul.level-0 > li:nth-child(1) > a:before {
  background-image: url("./../../img/icons/daigelis.svg");
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper ul.level-0 > li:nth-child(2) > a:before {
  background-image: url("./../../img/icons/kalabasas.svg");
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper ul.level-0 > li:nth-child(3) > a:before {
  background-image: url("./../../img/icons/bombiles.svg");
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper ul.level-0 > li:nth-child(4) > a:before {
  background-image: url("./../../img/icons/ajavaska.svg");
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper > ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper > ul > li {
  flex: 1;
  padding-left: 2.8rem;
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper > ul > li > a {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  color: #fff;
  display: block;
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper > ul > li ul {
  margin-left: 0;
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper > ul > li ul a {
  font-size: 1.6rem;
  padding: 0.6rem 0;
  color: #fff;
  display: block;
  transition: 0.2s;
}
header.header .wrapper nav.desktop li.shop .shop-dropdown .inner-wrapper > ul > li ul a:hover {
  transform: translateX(0.2rem);
}
header.header .wrapper nav.desktop li.shop:hover .shop-dropdown {
  opacity: 1;
  pointer-events: auto;
}
header.header .wrapper .right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 900px) {
  header.header .wrapper .right {
    display: none;
  }
}
header.header .wrapper .hamburger {
  display: none;
  margin-right: -1.5rem;
}
@media (max-width: 900px) {
  header.header .wrapper .hamburger {
    display: block;
  }
}
header.header nav.mobile {
  background: #222;
  padding: 1.2rem 1.6rem 2.4rem;
  position: absolute;
  top: 5.4rem;
  left: 0;
  z-index: 99;
  width: 100%;
}
header.header nav.mobile ul {
  margin-left: 0;
}
header.header nav.mobile > ul > li > a {
  display: block;
  color: #fff;
  padding: 1.2rem 0;
}
header.header nav.mobile .menu-item-has-children > ul {
  padding-left: 4rem;
}
header.header nav.mobile .menu-item-has-children > a {
  position: relative;
  display: block;
  color: #fff;
  padding: 1.2rem 0;
}
header.header nav.mobile .menu-item-has-children > a:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  right: 0;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./../../img/icons/arrow.svg");
  transition: 200ms;
}
header.header nav.mobile .menu-item-has-children a.is-active:after {
  transform: translateY(-50%) rotate(0);
}
header.header nav.mobile li.shop > .sub-menu > li > a {
  position: relative;
}
header.header nav.mobile li.shop > .sub-menu > li > a:before {
  position: absolute;
  content: "";
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(328deg) brightness(101%) contrast(101%);
}
header.header nav.mobile li.shop > .sub-menu > li:nth-child(1) > a:before {
  background-image: url("./../../img/icons/daigelis.svg");
}
header.header nav.mobile li.shop > .sub-menu > li:nth-child(2) > a:before {
  background-image: url("./../../img/icons/kalabasas.svg");
}
header.header nav.mobile li.shop > .sub-menu > li:nth-child(3) > a:before {
  background-image: url("./../../img/icons/bombiles.svg");
}
header.header nav.mobile li.shop > .sub-menu > li:nth-child(4) > a:before {
  background-image: url("./../../img/icons/ajavaska.svg");
}
header.header nav.mobile .sub-menu > li > .sub-menu {
  padding-left: 0;
}
header.header nav.mobile .sub-menu > li > .sub-menu a {
  display: block;
  color: #b3b3b3;
  padding: 0.8rem 0;
}
header.header nav.mobile .blog > .sub-menu {
  padding-left: 3.2rem;
}
header.header nav.mobile .blog > .sub-menu a {
  display: block;
  color: #fff;
  padding: 0.8rem 0;
}
header.header .cart {
  position: relative;
}
header.header .cart .cta {
  width: 6.4rem;
  height: 4.4rem;
  background-image: url("./../../img/cart-bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 900px) {
  header.header .cart .cta {
    width: 14.2rem;
    height: 4.4rem;
    background-image: url("./../../img/cart-bg-mobile.png");
  }
}
header.header .cart .cta a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.header .cart .cta .img-wrap {
  position: relative;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}
@media (max-width: 900px) {
  header.header .cart .cta .img-wrap {
    width: 2rem;
    height: 2rem;
  }
}
header.header .cart .cta .img-wrap .count {
  position: absolute;
  top: -0.8rem;
  right: -0.8rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 99999px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b64526;
  font-size: 1.2rem;
}
@media (max-width: 900px) {
  header.header .cart .cta .img-wrap .count {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1rem;
  }
}
header.header .cart .cta .krepselis {
  display: none;
}
@media (max-width: 900px) {
  header.header .cart .cta .krepselis {
    display: block;
    color: #fff;
    margin-left: 1rem;
    text-transform: capitalize;
  }
}
header.header .cart .dropdown-cart {
  position: absolute;
  top: 4.5rem;
  right: 0;
  display: none;
  z-index: 99;
  background: white;
  min-width: 28rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
header.header .cart .dropdown-cart .buttons {
  padding: 1.6rem;
}
header.header .cart .dropdown-cart .widget {
  margin-bottom: 0;
}
header.header .cart:hover .dropdown-cart {
  display: block;
}
@media (max-width: 900px) {
  header.header .cart:hover .dropdown-cart {
    display: none;
  }
}
header.header .login {
  display: flex !important;
  align-items: center;
}
@media (max-width: 900px) {
  header.header .login {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
  }
}
header.header .login img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.8rem;
}
@media (max-width: 768px) {
  header.header .login img {
    width: 2.4rem;
    height: 2.4rem;
  }
}
header.header nav.mobile {
  display: none;
}
header.header .menu-item-has-children .sub-menu {
  display: none;
}
header.header .is-active {
  display: block !important;
}

.added_to_cart.alt,
.added_to_cart,
.widget a.button.checkout {
  background: #cf4b27;
}

.cart-contents {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.site-header-cart .cart-contents::after {
  margin-left: 1rem;
}

.widget_shopping_cart .product_list_widget li {
  padding: 1rem;
  padding-left: 3.2rem;
  background: #fff;
}
.widget_shopping_cart .product_list_widget li:hover {
  background: #f5a91d;
  color: #000 !important;
}
.widget_shopping_cart .product_list_widget li:hover span,
.widget_shopping_cart .product_list_widget li:hover a {
  color: #fff !important;
}
.widget_shopping_cart .product_list_widget li:hover a:before {
  color: #fff;
}

.site-header-cart:hover .widget_shopping_cart {
  box-shadow: 0 1px 8px #9e9999;
}

.header .cart:hover .widget_shopping_cart .wc-forward {
  margin: 0 auto;
  max-width: 22rem;
  margin-bottom: 1rem;
}

.footer {
  position: relative;
  background: #000;
  color: #AAAAB0;
}
@media (max-width: 768px) {
  .footer {
    margin-top: 3rem;
  }
}
@media (max-width: 768px) {
  .footer--before {
    display: none;
  }
}
.footer__top {
  padding: 3.5rem 0;
  border-bottom: 1px solid #787676;
}
.footer__menus {
  display: flex;
}
@media (max-width: 768px) {
  .footer__menus {
    flex-direction: column;
  }
}
.footer__menus .menu {
  margin-right: 5rem;
}
@media (max-width: 768px) {
  .footer__menus .menu {
    margin-right: 0;
    margin-bottom: 2rem;
    order: 2;
  }
}
.footer__menus .menu a {
  display: block;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #AAAAB0;
}
.footer__menus .menu a:hover {
  transform: scale(1.01);
  color: #fff;
}
.footer__menus .about {
  max-width: 35rem;
  margin-left: auto;
}
@media (max-width: 768px) {
  .footer__menus .about {
    order: 1;
    margin-left: 0;
    margin-bottom: 2rem;
  }
}
.footer__title {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.4rem;
  line-height: 3.3rem;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}
.footer__text {
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #AAAAB0;
}
.footer__bottom p {
  text-align: center;
  padding: 2.5rem 0;
  font-size: 1.2rem;
  line-height: 2.8rem;
  color: #AFACAC;
}

.homepage2 {
  margin-bottom: 6rem;
  position: relative;
  margin-top: -4rem;
}
@media (max-width: 768px) {
  .homepage2 {
    margin-bottom: 4rem;
  }
}
.homepage2 section h2 {
  padding: 0;
}
.homepage2 section .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .homepage2 section .title {
    margin-bottom: 2.4rem;
  }
}
.homepage2 section .title h2 {
  position: relative;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .homepage2 section .title h2 {
    font-size: 2rem;
  }
}
.homepage2 section .title h2:before, .homepage2 section .title h2:after {
  position: absolute;
  content: "";
  background-image: url("./../../../img/icons/title-icon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 3rem;
  width: 3rem;
}
@media (max-width: 768px) {
  .homepage2 section .title h2:before, .homepage2 section .title h2:after {
    height: 2.2rem;
    width: 2.2rem;
  }
}
.homepage2 section .title h2:before {
  top: 50%;
  transform: translate(calc(-100% - 1.6rem), -50%);
  left: 0;
}
@media (max-width: 768px) {
  .homepage2 section .title h2:before {
    transform: translate(calc(-100% - 0.8rem), -50%);
  }
}
.homepage2 section .title h2:after {
  top: 50%;
  transform: translate(calc(100% + 1.6rem), -50%);
  right: 0;
}
@media (max-width: 768px) {
  .homepage2 section .title h2:after {
    transform: translate(calc(100% + 0.8rem), -50%);
  }
}
.homepage2 section.hero {
  position: relative;
  margin-bottom: 6rem;
}
@media (max-width: 768px) {
  .homepage2 section.hero {
    margin-bottom: 4rem;
  }
}
.homepage2 section.hero:after {
  position: absolute;
  content: "";
  top: 0;
  left: 60%;
  height: 100%;
  width: 50%;
  z-index: -2;
  background-color: #eb9365;
}
@media (max-width: 768px) {
  .homepage2 section.hero:after {
    display: none;
  }
}
.homepage2 section.hero .wrapper {
  display: flex;
  align-items: flex-end;
  position: relative;
}
@media (max-width: 768px) {
  .homepage2 section.hero .wrapper {
    margin-right: -1.5rem;
  }
}
.homepage2 section.hero .wrapper:before {
  position: absolute;
  content: "";
  top: -3rem;
  left: -31rem;
  background-image: url("./../../../img/hero-bg-left.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 44rem;
  z-index: -1;
}
@media (max-width: 768px) {
  .homepage2 section.hero .wrapper:before {
    top: 1rem;
    left: -7rem;
    height: 11rem;
    width: 8rem;
  }
}
.homepage2 section.hero .wrapper:after {
  position: absolute;
  content: "";
  top: 0;
  right: -9rem;
  background-image: url("./../../../img/hero-bg-right.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 69rem;
  z-index: -1;
}
@media (max-width: 768px) {
  .homepage2 section.hero .wrapper:after {
    display: none;
  }
}
.homepage2 section.hero .wrapper__content {
  padding: 10.2rem 0;
  width: 66.6%;
}
@media (max-width: 768px) {
  .homepage2 section.hero .wrapper__content {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .homepage2 section.hero .wrapper__content {
    padding-bottom: 0;
    padding-top: 3.2rem;
  }
}
.homepage2 section.hero .wrapper__content h1 {
  font-size: 5.6rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .homepage2 section.hero .wrapper__content h1 {
    font-size: 2.8rem;
    margin-bottom: 1.6rem;
  }
}
.homepage2 section.hero .wrapper__content p {
  font-size: 2.8rem;
  margin-bottom: 3.2rem;
  max-width: 648px;
}
@media (max-width: 768px) {
  .homepage2 section.hero .wrapper__content p {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }
}
.homepage2 section.hero .wrapper__img {
  width: 33.33%;
}
@media (max-width: 768px) {
  .homepage2 section.hero .wrapper__img {
    width: 13rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}
.homepage2 section.hero .wrapper__img img.desktop {
  width: 39.5rem;
}
@media (max-width: 768px) {
  .homepage2 section.hero .wrapper__img img.desktop {
    display: none;
  }
}
.homepage2 section.hero .wrapper__img img.mobile {
  width: 39.5rem;
  display: none;
}
@media (max-width: 768px) {
  .homepage2 section.hero .wrapper__img img.mobile {
    display: block;
  }
}
.homepage2 section.news .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .homepage2 section.news .wrapper {
    display: block;
  }
}
.homepage2 section.news .wrapper .block {
  flex: 1;
}
.homepage2 section.news .wrapper .block:first-of-type {
  margin-right: 6%;
}
@media (max-width: 768px) {
  .homepage2 section.news .wrapper .block:first-of-type {
    margin-right: 0;
    margin-bottom: 2.4rem;
  }
}
.homepage2 section.news .wrapper .block h3 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 0.12rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}
@media (max-width: 768px) {
  .homepage2 section.news .wrapper .block h3 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
}
.homepage2 section.news .wrapper .block__items {
  height: 38.4rem;
  overflow: auto;
}
@media (max-width: 768px) {
  .homepage2 section.news .wrapper .block__items {
    height: 30.8rem;
  }
}
.homepage2 section.news .wrapper .block__items::-webkit-scrollbar {
  width: 1.6rem;
}
@media (max-width: 768px) {
  .homepage2 section.news .wrapper .block__items::-webkit-scrollbar {
    width: 0.8rem;
  }
}
.homepage2 section.news .wrapper .block__items::-webkit-scrollbar-track {
  background: #ffe0bd;
}
.homepage2 section.news .wrapper .block__items::-webkit-scrollbar-thumb {
  background: #fa9511;
}
.homepage2 section.news .wrapper .block__card {
  display: flex;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
}
@media (max-width: 768px) {
  .homepage2 section.news .wrapper .block__card {
    margin-bottom: 0.8rem;
  }
}
.homepage2 section.news .wrapper .block__card .image {
  max-width: 16.6rem;
  width: 100%;
  margin-right: 1.6rem;
  position: relative;
  height: 100%;
}
@media (max-width: 768px) {
  .homepage2 section.news .wrapper .block__card .image {
    max-width: 9.8rem;
    margin-right: 1.2rem;
  }
}
.homepage2 section.news .wrapper .block__card .image .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.683703);
}
@media (max-width: 768px) {
  .homepage2 section.news .wrapper .block__card .image .icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.homepage2 section.news .wrapper .block__card .image .icon img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.4rem;
}
@media (max-width: 768px) {
  .homepage2 section.news .wrapper .block__card .image .icon img {
    width: 1.4rem;
    height: 1.4rem;
  }
}
.homepage2 section.news .wrapper .block__card .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .homepage2 section.news .wrapper .block__card .content {
    font-size: 1.4rem;
  }
}
.homepage2 section.news .wrapper .block__card .content span {
  color: #cf4b27;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: block;
  margin-top: 1.6rem;
}
@media (max-width: 768px) {
  .homepage2 section.news .wrapper .block__card .content span {
    font-size: 1.2rem;
    margin-top: 0.8rem;
  }
}
.homepage2 section.newsletter {
  background-color: #000;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 6.4rem 0;
}
@media (max-width: 768px) {
  .homepage2 section.newsletter {
    padding: 4rem 0;
  }
}
.homepage2 section.newsletter .title-white {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage2 section.newsletter .title-white h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  margin-bottom: 2.4rem;
}
@media (max-width: 768px) {
  .homepage2 section.newsletter .title-white h2 {
    margin-bottom: 1.6rem;
  }
}
.homepage2 section.newsletter .title-white h2:before, .homepage2 section.newsletter .title-white h2:after {
  position: absolute;
  content: "";
  background-image: url("./../../../img/icons/title-icon-mate.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 4.4rem;
  height: 2.8rem;
  top: 50%;
}
@media (max-width: 768px) {
  .homepage2 section.newsletter .title-white h2:before, .homepage2 section.newsletter .title-white h2:after {
    height: 2.2rem;
    width: 2.2rem;
  }
}
.homepage2 section.newsletter .title-white h2:before {
  transform: translateX(-100%) translateY(-50%);
  left: -1.6rem;
}
.homepage2 section.newsletter .title-white h2:after {
  transform: translateX(100%) translateY(-50%) scaleX(-1);
  right: -1.6rem;
}
.homepage2 section.newsletter p {
  font-size: 1.8rem;
  margin-bottom: 3.4rem;
  text-align: center;
  color: #fff;
}
@media (max-width: 768px) {
  .homepage2 section.newsletter p {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }
}
.homepage2 section.newsletter .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .homepage2 section.newsletter .wrapper {
    display: block;
  }
}
.homepage2 section.newsletter .wrapper input {
  max-width: 68rem;
  width: 100%;
  background: #fff;
  margin-right: 3.2rem;
  height: 5.6rem;
}
@media (max-width: 768px) {
  .homepage2 section.newsletter .wrapper input {
    margin-right: 0;
    margin-bottom: 2.4rem;
    height: 4.8rem;
  }
}
.homepage2 section.newsletter .wrapper .btn__holder {
  display: flex;
  justify-content: center;
}
